# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Node / Frontend
# =========================
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Python / Backend
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
ENV/

# =========================
# Docker
# =========================
*.log
docker-compose.override.yml

# =========================
# Database
# =========================
*.sqlite3
pgdata/

# =========================
# Build / Dist
# =========================
dist/
build/

# =========================
# Secrets
# =========================
.env.*
*.pem
*.key

